*.class

# Package Files #
*.jar
*.war
*.ear
/twitface_ws_FO_MABM/nbproject/private/
/twitface_ws_FO_MABM/build/
/twitface_ws_FO_MABM/dist/
/twitface_ws _FO_MABM_client/nbproject/private/
/twitface_ws _FO_MABM_client/build/